<!-- 

<div class="background" id="app">
    <div class="cover">
      <div class="leftDiv">
        <div>
          <div v-if="errors.length">
            <ul style="list-style: none; color: red; text-align: center; background-color: rgba(0,0,0,0.3)">
                <li v-for="error in errors">{{ error }}</li>
              </ul>
            </div>
          <v-tabs color="transparent" dark slider-color="yellow">
            <v-tab style="background-color: rgba(0,0,0,0.5); width: 50%">
              Login
            </v-tab>
  
            <v-tab style="background-color: rgba(0,0,0,0.5); width: 50%">
              Register
            </v-tab>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <form method="post" action="#" @submit="checkLogin" novalidate="true">
                    <div style="text-align: center">Welcome back, Login</div>
  
                    <label>
                        <input v-model="phoneEmail" class="input" type="text" placeholder="Phone or Email" />
                      </label>
  
                    <label>
                        <input v-model="password" class="input" type="password" placeholder="Password" />
                      </label>
                    <a href="#" class="forgot-pass">Forgot password?</a>
                    <button type="submit" class="submit button">Sign In</button>
                  </form>
                </v-card-text>
              </v-card>
            </v-tab-item>
  
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <form method="post" action="#" @submit="checkForm" novalidate="true">
                    <div style="text-align: center">New here? Register</div>
  
                    <label>
                        <input v-model="fName" class="input" type="text" placeholder="First Name" />
                      </label>
  
                    <label>
                        <input v-model="lName" class="input" type="text" placeholder="Last Name" />
                      </label>
  
                    <label>
                        <input v-model="email" class="input" type="email" placeholder="Email" />
                      </label>
  
                    <label>
                        <input v-model="phone" class="input" type="tel" pattern="\d\d\d\d\d\d\d\d\d\d\d" placeholder="Phone" />
                      </label>
  
                    <label>
                        <input v-dodel="rpassword" class="input" type="password" placeholder="Password" />
                      </label>
  
                    <button type="submit" class="submit button">Sign Up</button>
                  </form>
                </v-card-text>
              </v-card>
            </v-tab-item>
  
          </v-tabs>
        </div>
      </div>
    </div>
  </div>

  <script>
      new Vue({
        el: '#app',
        data: {
                errors: [],
                phoneEmail: null,
                password: null,
                fName: null,
                lName: null,
                email: null,
                phone: null,
                rpassword: null,
          },
  
         methods: {
             checkLogin: function (e) {
             this.errors = [];

                if (!this.phoneEmail) {
                  this.errors.push("Entre your email or phone number.");
                }

                if (!this.password) {
                  this.errors.push("Your password is required");
                }
               
              if (!this.errors.length) {
                return true;
              }

              e.preventDefault();

           },
           
            checkForm: function (e) {
              
              if (!this.fName) {
                this.errors.push("What's your first name?");
              }
              
              if (!this.lName) {
                this.errors.push("What's your last name?");
              }
              
              if (!this.email) {
                this.errors.push('Entre your email address.');
              } else if (!this.validEmail(this.email)) {
                this.errors.push('Your email address is not correct');
              }
              
              if (!this.phone) {
                this.errors.push("What's your phone number");
              }

              if (!this.rpassword) {
                this.errors.push("Please entre a plassword.");
              }

              if (!this.errors.length) {
                return true;
              }

              e.preventDefault();
            },
              
            validEmail: function (email) {
              var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              return re.test(email);
            }
         }
    })
  </script>
 -->
