<template>
  <nav>
    <v-container fluid id="vendors">
      <v-row dense>
        <v-card-text class="text-xs-center">
          <v-icon size="25" color="red darken-2">Gallery:</v-icon></v-card-text
        >
        <v-col v-for="card in cards1" :key="card.title" :cols="card.flex">
          <v-card>
            <!-- <router-link :to="card.to"> -->
            <v-img
              :src="card.src"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="200px"
            >
            </v-img>
            <v-card-actions>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <router-link to="/">
      <v-btn class="ma-2" color="orange darken-2" dark>
        <v-icon dark left>mdi-arrow-left</v-icon>Back
      </v-btn>
    </router-link>

    <v-footer class="red darken-2">
      <v-layout row wrap align-center>
        <v-flex xs12 class="text-xs-center">
          <div class="white--text ml-3">
            Festive Event Management
          </div>
        </v-flex>
      </v-layout>
    </v-footer>
  </nav>
</template>

<script>
// import SignUp from "./views/SignUp";
// import Login from "./views/Login";
import firebase from "firebase";
import VueInstagram from "vue-instagram";

export default {
  name: "App",
  components: {
    // SignUp,
    // Login
  },
  // created() {
  //   firebase.auth().onAuthStateChanged(user => {
  //     if ("user") {
  //       this.user = user;
  //     }
  //   });
  // },

  // methods: {
  //   like() {
  //     this.post.hasBeenLiked ? this.cards1.likes-- : this.cards1.likes++;
  //     this.cards1.hasBeenLiked = !this.cards1.hasBeenLiked;
  //   }
  // },

  data: () => ({
    show: false,
    cards1: [
      {
        src: require("@/assets/sasa.jpeg"),
        flex: 3
      },
      {
        src: require("@/assets/nepa.jpg"),
        flex: 3
      },
      {
        src: require("@/assets/banquet.jpeg"),
        flex: 3
      },
      {
        src: require("@/assets/eventz.jpg"),
        flex: 3
      },
      {
        src: require("@/assets/sasa.jpeg"),
        flex: 3
      },
      {
        src: require("@/assets/nepa.jpg"),
        flex: 3
      },
      {
        src: require("@/assets/banquet.jpeg"),
        flex: 3
      },
      {
        src: require("@/assets/eventz.jpg"),
        flex: 3
      },
      {
        src: require("@/assets/sasa.jpeg"),
        flex: 3
      },
      {
        src: require("@/assets/nepa.jpg"),
        flex: 3
      },
      {
        src: require("@/assets/banquet.jpeg"),
        flex: 3
      },
      {
        src: require("@/assets/eventz.jpg"),
        flex: 3
      }
    ]
  })
};
</script>
<style></style>
