<template>
  <v-container fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <div>
          Logged in Home page
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>
