<template>
  <v-container fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Login Form</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" v-model="valid">
              <v-text-field
                prepend-icon="mdi-email"
                name="email"
                label="Email"
                type="email"
                v-model="email"
                :rules="emailRules"
                required
                data-cy="signinEmailField"
              >
              </v-text-field>
              <v-text-field
                prepend-icon="mdi-lock"
                name="password"
                label="Password"
                type="password"
                data-cy="signinPasswordField"
                v-model="password"
                :rules="passwordRules"
                required
              >
              </v-text-field>
            </v-form>
          </v-card-text>
          <section id="firebaseui-auth-container"></section>
          <v-btn
            color="primary"
            :disabled="!valid"
            @click="submit"
            data-cy="signinSubmitBtn"
            >Login</v-btn
          >
          <p>
            or sign In with Google
            <button @click="socialLogin" class="social-button">
              <img
                alt="Google Logo"
                src="../assets/googleLogo.png"
                height="20px"
                width="20px"
              />
            </button>
          </p>
          <p>
            You dont have account?<router-link to="/signup">SignUp</router-link>
          </p>
          <!-- <p>
            Forgot Password?
            <button @click="socialLogin" class="social-button">
              Reset Password Email
            </button>
          </p> -->
        </v-card>
      </v-flex>
    </v-layout>
    <router-link to="/">
      <v-btn class="ma-2" color="orange darken-2" dark>
        <v-icon dark left>mdi-arrow-left</v-icon>Back
      </v-btn>
    </router-link>
  </v-container>
</template>

<script>
import firebase, { auth } from "firebase";
// import firebaseui from "firebaseui";
// import "firebaseui/dist/firebaseui.css";

export default {
  name: "Login",
  data() {
    return {
      // valid: false,
      email: "",
      password: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      passwordRules: [
        v => !!v || "Password is required",
        v => v.length >= 6 || "Password must be greater than 6 characters"
      ]
    };
  },

  created() {
    firebase.auth().onAuthStateChanged(userAuth => {
      if (userAuth) {
        firebase
          .auth()
          .currentUser.getIdTokenResult()
          .then(tokenResult => {
            console.log(tokenResult.claims);
          });
      }
    });
  },

  mounted() {
    let ui = firebaseui.auth.AuthUI.getInstance();
    if (!ui) {
      ui = new firebaseui.auth.AuthUI(firebase.auth());
    }
    var uiConfig = {
      signInSuccessUrl: "/profile", // This redirect can be achived by route using callback.
      signInFlow: "popup",
      signInOptions: [
        // firebase.auth.FacebookAuthProvider.PROVIDER_ID,
        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        firebase.auth.EmailAuthProvider.PROVIDER_ID
      ]
    };
    ui.start("#firebaseui-auth-container", uiConfig);
  },

  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch("userLogin", {
          email: this.email,
          password: this.password
        });
      }
    },
    // resetPassword() {
    //   const user = firebase.auth();
    //   console.log(auth.currentUser);
    //   auth
    //     .sendPasswordResetEmail(auth.currentUser.email)
    //     .then(result => {
    //       console.log("Email sent");
    //     })
    //     .catch(err => {
    //       console.log(err);
    //     });
    // },
    socialLogin() {
      const provider = new firebase.auth.GoogleAuthProvider();

      firebase
        .auth()
        .signInWithPopup(provider)
        .then(result => {
          this.$router.replace("/profile");
        })
        .catch(err => {
          alert("oops." + err.message);
        });
    }
  }
};
</script>

<style scoped></style>
