<template>
  <nav>
    <v-container fluid id="vendors">
      <v-row dense>
        <v-card-text class="text-xs-center">
          <v-icon size="25" color="red darken-2"
            >Photographers:</v-icon
          ></v-card-text
        >
        <v-col v-for="card in cards1" :key="card.title" :cols="card.flex">
          <v-card>
            <!-- <router-link :to="card.to"> -->
            <v-img
              :src="card.src"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="200px"
            >
              <v-card-title v-text="card.title"></v-card-title>
            </v-img>
            <!-- </router-link> -->
            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn color="purple" text>
                Explore
              </v-btn>

              <v-spacer></v-spacer>

              <v-btn icon @click="show = !show">
                <v-icon>{{
                  show ? "mdi-chevron-up" : "mdi-chevron-down"
                }}</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon color="red darken-2">mdi-heart</v-icon>
                <span class="subheading mr-2">256</span>
              </v-btn>
            </v-card-actions>
            <v-expand-transition>
              <div v-show="show">
                <v-divider></v-divider>

                <v-card-text :text="card.text">
                  I'm a thing. But, like most politicians, he promised more than
                  he could deliver. You won't have time for sleeping, soldier,
                  not with all the bed making you'll be doing. Then we'll go
                  with that data file! Hey, you add a one and two zeros to that
                  or we walk! You're going to do his laundry? I've got to find a
                  way to escape.
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <router-link to="/">
      <v-btn class="ma-2" color="orange darken-2" dark>
        <v-icon dark left>mdi-arrow-left</v-icon>Back
      </v-btn>
    </router-link>

    <v-footer class="red darken-2">
      <v-layout row wrap align-center>
        <v-flex xs12 class="text-xs-center">
          <div class="white--text ml-3">
            Festive Event Management
          </div>
        </v-flex>
      </v-layout>
    </v-footer>
  </nav>
</template>

<script>
// import SignUp from "./views/SignUp";
// import Login from "./views/Login";

export default {
  name: "App",
  components: {
    // SignUp,
    // Login
  },

  data: () => ({
    show: false,
    cards1: [
      {
        title: "Fotomandu",
        src: require("@/assets/fotomandu.jpeg"),
        flex: 3
        // to: "/Banquets"
      },
      {
        title: "Kipaa Fotography",
        src: require("@/assets/kipaa.jpeg"),
        flex: 3
      }
    ]
  })
};
</script>

<style scoped></style>
