<template>
  <section>
    <v-container>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <h1>Login succeeded</h1>
          <v-card class="elevation-12">
            <v-toolbar dark color="primary">
              <v-toolbar-title>Profile</v-toolbar-title>
            </v-toolbar>
            <!-- <v-card-text> -->
            <div
              class="card horizontal"
              style="max-width:400px;margin:0 auto;"
              v-if="user"
            >
              <div class="card-image" style="margin-top:25px;margin-left:10px;">
                <img
                  :src="user.photoURL"
                  style="width:75px;height:75px;border-radius:50%;border:4px solid #333"
                />
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p>
                    name:
                    <strong>{{ user.displayName }}</strong>
                    <br />email:
                    <strong>{{ user.email }}</strong>
                    <br />uid:
                    <strong>{{ user.uid }}</strong>
                    <br />provider:
                    <strong class="teal-text">{{
                      user.providerData[0].providerId
                    }}</strong>
                  </p>
                </div>
              </div>
            </div>
          </v-card>
          <v-form>
            <v-btn color="primary" @click="signOut">SignOut</v-btn>
          </v-form>
        </v-flex></v-layout
      ></v-container
    >
    <router-link to="/">
      <v-btn class="ma-2" color="orange darken-2" dark>
        <v-icon dark left>mdi-arrow-left</v-icon>Back
      </v-btn>
    </router-link>
  </section>
</template>

<script>
// import navbar from "@/components/navbar.vue";
import firebase from "firebase";
export default {
  data() {
    return {
      user: null
    };
  },
  components: {
    // navbar
  },
  created() {
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        this.user = user;
      }
    });
  },
  methods: {
    signOut() {
      firebase.auth().userSignOut();
    }
  }
};
</script>
