<template>
  <v-container fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Forgot Password</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" v-model="valid">
              <v-text-field
                prepend-icon="mdi-email"
                name="email"
                id="email"
                label="Email"
                type="email"
                v-model="email"
                :rules="emailRules"
                required
                data-cy="signinEmailField"
              >
              </v-text-field>
              <v-btn color="primary" @click="resetPassword"
                >Reset Password</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import firebase, { auth } from "firebase";
export default {
  name: "Login",
  data() {
    return {};
  },
  methods: {
    // resetPassword() {
    //   const auth = firebase.auth();
    //   // var email = $("#email").val();
    //   const email = "singhkabita78@gmail.com";
    //   if (email != "") {
    //     auth
    //       .sendPasswordResetEmail(email)
    //       .then(result => {
    //         window.alert("Email has been sent. Please check your mail.");
    //       })
    //       .catch(function(error){
    //         var errorCode = err.code;
    //         var errorMessage = err.message;

    //         console.log(errorCode);
    //         console.log(errorMessage);

    //         window.alert("Message:" + errorMessage);
    //       });
    //   } else {
    //     window.alert("please write your email first.");
    //   }
    // },

    resetPassword() {
      var auth = firebase.auth();
      var emailAddress = "singhkabita78@gmail.com";

      auth
        .sendPasswordResetEmail(emailAddress)
        .then(function() {
          // Email sent.
          window.alert("Email has been sent. Please check your mail.");
        })
        .catch(function(error) {
          // An error happened.
          window.alert("please write your email first.");
        });
    }
  }
};
</script>
