<template>
  <nav>
    <v-app>
      <v-toolbar app color="red">
        <v-toolbar-title color="white--text">
          <router-link to="/">
            Festive Event Management
          </router-link>
          <span></span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn href="#vendors">
          <span>Vendors</span>
          <v-icon>mdi-account</v-icon>
        </v-btn>
        <!-- <v-btn>
          <span>Venues</span>
          <v-icon>mdi-home</v-icon>
        </v-btn>

        <v-btn>
          <span>Dresses</span>
          <v-icon> mdi-tshirt-v</v-icon>
        </v-btn> -->
        <router-link to="/Gallery">
          <v-btn>
            <span>Gallery</span>
            <v-icon> mdi-image-area</v-icon>
          </v-btn>
        </router-link>
        <v-btn href="#contact">
          <span>Contact</span>
          <v-icon> mdi-phone</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <!-- <input type="text" placeholder="search" v-model="search" /> -->
        <v-autocomplete
          v-model="select"
          :loading="loading"
          :items="items"
          :search-input.sync="search"
          cache-items
          class="mx-4"
          flat
          hide-no-data
          hide-details
          label="Search"
          solo-inverted
        ></v-autocomplete>
        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
        <router-link to="/login">
          <v-btn flat>Login</v-btn>
        </router-link>
        <router-link to="/signup">
          <v-btn flat class="red lighten-3">SignUp</v-btn>
        </router-link>
      </v-toolbar>
      <router-view></router-view>
    </v-app>
  </nav>
</template>
<script>
export default {
  data() {
    return {
      loading: false,
      items: [],
      search: null,
      select: null,
      states: [
        "Alabama",
        "Alaska",
        "American Samoa",
        "Arizona",
        "Arkansas",
        "California",
        "Colorado",
        "Connecticut",
        "Delaware",
        "District of Columbia",
        "Federated States of Micronesia",
        "Florida",
        "Georgia",
        "Guam",
        "Hawaii",
        "Idaho",
        "Illinois",
        "Indiana",
        "Iowa",
        "Kansas",
        "Kentucky",
        "Louisiana",
        "Maine",
        "Marshall Islands",
        "Maryland",
        "Massachusetts",
        "Michigan",
        "Minnesota",
        "Mississippi",
        "Missouri",
        "Montana",
        "Nebraska",
        "Nevada",
        "New Hampshire",
        "New Jersey",
        "New Mexico",
        "New York",
        "North Carolina",
        "North Dakota",
        "Northern Mariana Islands",
        "Ohio",
        "Oklahoma",
        "Oregon",
        "Palau",
        "Pennsylvania",
        "Puerto Rico",
        "Rhode Island",
        "South Carolina",
        "South Dakota",
        "Tennessee",
        "Texas",
        "Utah",
        "Vermont",
        "Virgin Island",
        "Virginia",
        "Washington",
        "West Virginia",
        "Wisconsin",
        "Wyoming"
      ]
    };
  },
  watch: {
    search(val) {
      val && val !== this.select && this.querySelections(val);
    }
  },
  methods: {
    querySelections(v) {
      this.loading = true;
      // Simulated ajax query
      setTimeout(() => {
        this.items = this.states.filter(e => {
          return (e || "").toLowerCase().indexOf((v || "").toLowerCase()) > -1;
        });
        this.loading = false;
      }, 500);
    }
  }
};
</script>
