<template>
  <nav>
    <!-- <v-parallax src="../assets/eventz.jpg" height="300"></v-parallax> -->
    <v-carousel>
      <v-carousel-item
        v-for="(item, i) in items"
        :key="i"
        :src="item.src"
        reverse-transition="fade-transition"
        transition="fade-transition"
      ></v-carousel-item>
    </v-carousel>

    <v-container fluid id="vendors">
      <v-row dense>
        <v-card-text class="text-xs-center">
          <v-icon size="25" color="red darken-2"
            >Vendors Categories:</v-icon
          ></v-card-text
        >
        <v-col v-for="card in cards1" :key="card.title" :cols="card.flex">
          <v-card>
            <router-link :to="card.to">
              <v-img
                :src="card.src"
                class="white--text align-end"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                height="200px"
              >
              </v-img>
              <v-card-title v-text="card.title"></v-card-title>
            </router-link>
            <v-card-actions>
              <v-spacer></v-spacer>
              <!-- <v-btn icon>
                <v-icon color="red darken-2">mdi-heart</v-icon>
                <span class="subheading mr-2">256</span>
              </v-btn> -->
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-container fluid>
      <v-row dense>
        <v-card-text class="text-xs-center">
          <v-icon size="25" color="red darken-2"
            >Popular Vendors:</v-icon
          ></v-card-text
        >
        <v-col v-for="card in cards2" :key="card.title" :cols="card.flex">
          <v-card>
            <v-img
              :src="card.src"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="200px"
            >
              <v-card-title v-text="card.title"></v-card-title>
            </v-img>

            <v-card-actions>
              <v-spacer></v-spacer>
              <div class="text-center">
                <v-rating v-model="rating"></v-rating>
              </div>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-container fluid id="contact">
      <v-row dense>
        <v-bottom-navigation grow class="red darken-2">
          <div class="white--text ml-3">
            <u><h5 align="center">Contact Us :</h5></u>
            <span
              ><v-icon>mdi-earth </v-icon>Festive Event Management Pvt.Ltd
            </span>
            <span><v-icon>mdi-map-marker</v-icon> Naxal,Kathmandu </span>
            <span> <v-icon>mdi-phone</v-icon> 9876543210 | 9012345678 </span>
          </div>
        </v-bottom-navigation>
      </v-row>
    </v-container>

    <v-footer class="red darken-2">
      <v-layout row wrap align-center>
        <v-flex xs12 class="text-xs-center">
          <div class="white--text ml-3">
            Festive Event Management
          </div>
        </v-flex>
      </v-layout>
    </v-footer>
  </nav>
</template>

<script>
// import SignUp from "./views/SignUp";
// import Login from "./views/Login";

export default {
  name: "App",
  components: {
    // SignUp,
    // Login
  },

  data: () => ({
    cards1: [
      {
        title: "Banquets",
        src: require("@/assets/banquet.jpeg"),
        flex: 3,
        to: "/Banquets"
      },
      {
        title: "Photographer",
        src: require("@/assets/photographer.jpeg"),
        flex: 3,
        to: "/Photographer"
      },
      {
        title: "Boutiques",
        src: require("@/assets/boutique.jpg"),
        flex: 3,
        to: "/Boutique"
      },
      {
        title: "Music/Baja",
        src: require("@/assets/music.jpeg"),
        flex: 3,
        to: "/Music"
      }
    ],
    cards2: [
      {
        title: "Photographer",
        src: require("@/assets/birthday.jpg"),
        flex: 3
      },
      {
        title: "Banquet",
        src: require("@/assets/banquet.jpeg"),
        flex: 3
      },
      {
        title: "Boutiques",
        src: require("@/assets/boutique.jpg"),
        flex: 3
      },
      {
        title: "Boutiques",
        src: require("@/assets/eventz.jpg"),
        flex: 3
      }
    ],
    items: [
      {
        src: require("@/assets/birthday.jpg")
      },
      {
        src: require("@/assets/banquet.jpeg")
      },
      {
        src: require("@/assets/eventz.jpg")
      },
      {
        src: require("@/assets/music.jpeg")
      }
    ]
  })
};
</script>

<style scoped></style>
