<template>
  <div id="app">
    <navbar />
  </div>
</template>

<script>
import trydemo from "./components/trydemo";
import SignUp from "./views/SignUp";
import Login from "./views/Login";
import navbar from "./components/navbar";

export default {
  name: "App",

  components: {
    // trydemo,
    navbar
    // SignUp,
    // Login
  },

  data: () => ({
    //
  })
};
</script>
